@import "neat/neat-helpers";

$mobile: new-breakpoint(max-width 600px 4);
$tablet: new-breakpoint(max-width 960px 8);
$tabletOnly: new-breakpoint(min-width 601px max-width 960px 8);
$desktop: new-breakpoint(min-width 961px 12);
$notMobile: new-breakpoint(min-width 601px 8);
$smallDesktop: new-breakpoint(max-width 1200px 8);
$smallDesktopOnly: new-breakpoint(min-width 961px max-width 1200px 8);